In [33]:
from collections import OrderedDict
from collections import Counter
#requests=[]
od=OrderedDict()
while True:
    data=input("enter input by comma seperated")
    if data!="end":
        x,y=data.split(",")
        od[x]=od.get(x,0)+int(y)
    else:
        break

print(od)

enter input by comma seperated bread,5
enter input by comma seperated milk,2
enter input by comma seperated bread,3
enter input by comma seperated cigarattes,4
enter input by comma seperated milk,1
enter input by comma seperated end

OrderedDict({'bread': 8, 'milk': 3, 'cigarattes': 4})

In [5]:
od=OrderedDict([
    ("bread", 5),
    ("milk", 2),
    ("bread", 3),
    ("cigarettes", 4),
    ("milk", 1)
]
)
print(od)

OrderedDict({'bread': 3, 'milk': 1, 'cigarettes': 4})

In [52]:
codewords = ["attack", "retreat", "sniper", "danger", "tanks", "enemy"]
intercepted = ["ckatta", "ratreet", "ksnat", "shadow"]
result=[]
for i in intercepted:
    flag=1
    for j in codewords:
        if(Counter(i)==Counter(j)):
            result.append(j)
            flag=0
    if(flag):
        result.append("UNKNOWN")
    
print(result)

['attack', 'retreat', 'tanks', 'UNKNOWN']

In [64]:
from collections import namedtuple
crew=namedtuple('crew',['name','job','experience'])
while True:
    name,job,exp=input("Enter name job experience").split(" ")
    
c1=crew("Commander Vega","Pilot",9)
c2=crew("Dr. Nova", "Scientist", 8)
c3=crew("Lt. Orion", "Engineer", 7)
print(c1)

crew(name='Commander_Vega', job='Pilot', experience=9)