In [53]:
import pandas as pd

data = {
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank', 'Grace', 'Hannah'],
    'Department': ['HR', 'IT', 'IT', 'HR', 'Finance', 'Finance', 'IT', 'HR'],
    'Age': [25, 32, 29, 41, 37, 45, 26, 38],
    'Salary': [50000, 70000, 65000, 80000, 75000, 90000, 62000, 85000],
    'Experience': [2, 7, 5, 15, 10, 20, 3, 12]
}

df = pd.DataFrame(data)
print(df['Experience'])

0     2
1     7
2     5
3    15
4    10
5    20
6     3
7    12
Name: Experience, dtype: int64

In [13]:
average=df.groupby('Department')['Salary'].mean()
print(average)

Department
Finance    82500.000000
HR         71666.666667
IT         65666.666667
Name: Salary, dtype: float64

In [21]:
highest=df.groupby('Department')['Salary'].max()
print(highest)

Department
Finance    90000
HR         85000
IT         70000
Name: Salary, dtype: int64

In [47]:
count=df[(df['Salary']>65000) & (df['Experience']>5)]
print(count)

  Employee Department  Age  Salary  Experience
1      Bob         IT   32   70000           7
3    David         HR   41   80000          15
4     Emma    Finance   37   75000          10
5    Frank    Finance   45   90000          20
7   Hannah         HR   38   85000          12